{%extends 'all-art/base.html'%} {% load static %} {% load bootstrap3 %} {% block content %} {{block.super}}
<div class="container-fluid1">
    <div class="container-full banner content">
        <div class="overlay">
            <div class="row">
                <div class="col-md-12 text-center">

                    <h1 class="text-white text-center intro" style="font-style: oblique;">WELCOME TO SPORTS GALLERY</h1> <br><br>
                    <!-- <a href="#gallery" class="btn" name="button">Get Started</a> -->
                    <a href="#gallery"><img src='https://raw.githubusercontent.com/jonnygovish/IP3/master/assets/mouse_click.png' class="img-fluid" id="mouse"></a>

                </div>
            </div>
        </div>
    </div>
</div>

<div class="container-fluid" id="gallery">

    <div class="row">
        {% for art_item in art %}

        <div class="col-xs-12 col-sm-6 col-md-3 cards" style="padding: 2 px;">
            <button type="button" data-toggle="modal" data-target="#{{art_item.id}}" class="card">
                <img src="{{art_item.photo_image.url}}"  class="img-responsive" alt="" style="width: 300px; height: 225px;">
              </button>
            <div class="modal fade" id="{{art_item.id}}" tabindex="-1" role="dialog" aria-labelledby="staticBackdropLabel" aria-hidden="true">

                <div class="modal-dialog modal-dialog-centered">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title">
                                <h3 class="text-center"> {{ art_item.category }} </h3>
                            </h5>
                        </div>
                        <div class="modal-body">

                            <img src="{{art_item.photo_image.url}}" class="img-responsive" alt="" style="width: 500px; height: 400px;">
                            <p style="font-size: 20px; "><b>Caption</b> : {{art_item.caption}}</p>
                            <p style="font-size: 20px; "><b>Category</b> : {{art_item.category}}</p>
                            <p style=" font-size: 20px "><b>Location</b>: {{art_item.location}}</p>
                            <p style=" font-size: 20px "><b>Credits</b>: {{art_item.paparazzo}}</p>
                            <p style=" font-size: 20px "><b>Photo taken on</b>: {{art_item.pub_date}}</p>
                        </div>
                        <div class="modal-footer">
                            <!-- <input class="form-control input-lg" type="text" value="https://louvre1.herokuapp.com{{art_item.photo_image.url}}" id="{{art_item.id}}.url"> -->
                            <button class="btn btn-success btn-sm" onclick="copyLink('{{art_item.id}}.url')" data-dismiss="modal">Copy Link</button>
                            <button type="btn btn-primary" style="background-color: rgb(235, 36, 36);" class="btn btn-secondary " data-dismiss="modal">Close</button>

                        </div>
                    </div>
                </div>

            </div>

        </div>
        {% endfor %}

    </div>
</div> {% endblock %}